<div *ngIf="productOutlet.isActivated == false">
  <div class="cart" data-toggle="inactive">
          <div class="label">
            <i class="ion-bag"></i>
          </div>
        
          <div class="overlay"></div>
        
          <div class="window">
            <div class="title">
              <button type="button" class="close"><i class="ion-android-close"></i></button>
              <h1 class="h3 info">Shopping cart</h1>
            </div>
          
            <div class="content">
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/chrome-book-11.jpg" alt="HP Chromebook 11"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">HP Chromebook 11</h2>
                  <label>Laptops</label>
                  <p class="price">$199.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/chrome-book-14.jpg" alt="HP Chromebook 11"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">HP Chromebook 14</h2>
                  <label>Laptops</label>
                  <p class="price">$209.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/ipad-air.jpg" alt="iPad Air"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">iPad Air</h2>
                  <label>Tablets</label>
                  <p class="price">$449.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/mi-pad-2.jpg" alt="HP Chromebook 11"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">Mi Pad 2</h2>
                  <label>Tablets</label>
                  <p class="price">$199.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/lenovo-yoga.jpg" alt="Lenovo Yoga"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">Lenovo Yoga</h2>
                  <label>Hybrid</label>
                  <p class="price">$199.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/surface-pro.jpg" alt="HP Chromebook 11"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">Surface Pro</h2>
                  <label>Hybrid</label>
                  <p class="price">$199.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="../assets/img/products/asus-transformer.jpg" alt="HP Chromebook 11"/>
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="h4 media-heading">ASUS Transformer</h2>
                  <label>Hybrid</label>
                  <p class="price">$199.99</p>
                </div>
                <div class="controls">
                  <div class="input-group">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="minus"><i class="ion-minus-round"></i></button>
                    </span>
                    <input type="text" class="form-control input-sm" placeholder="Qty" value="1" readonly="">
                    <span class="input-group-btn">
                      <button class="btn btn-default btn-sm" type="button" data-action="plus"><i class="ion-plus-round"></i></button>
                    </span>
                  </div><!-- /input-group -->
                
                  <a href="#remove"> <i class="ion-trash-b"></i> Remove </a>
                </div>
              </div>
            
            </div>
          
            <div class="checkout container-fluid">
              <div class="row">
                <div class="col-xs-3 col-sm-2">
                  <div>
                    <p>Subtotal:</p>
                    <h3 class="h4">Total:</h3>
                  </div>
                </div>
                <div class="col-xs-3 col-sm-4">
                  <div class="total">
                    <p>$1 200</p>
                    <h3 class="h4">$1 200</h3>
                  </div>
                </div>
              
                <div class="col-xs-6 col-sm-6">
                  <a class="btn btn-primary" href="../checkout/"> Checkout order </a>
                </div>
              </div>
            </div>
          </div>
        </div>





  <div class="container tags">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="ion-arrow-down-b"></i> Sorting Products
        </button>
        <ul class="dropdown-menu">
          <li [ngClass]="{'active': activeNameUp}">
              <a (click)="sortProductNameUp()">
                <i class="ion-arrow-down-c"></i> Name [A-Z]</a>
          </li>
          <li [ngClass]="{'active': activeNameDown}">
              <a (click)="sortProductNameDown()">
                <i class="ion-arrow-up-c"></i> Name [Z-A]</a>
          </li>
          <li [ngClass]="{'active': activePriceUp}">
              <a (click)="sortProductPriceUp()">
                <i class="ion-arrow-down-c"></i> Price [Low-High]</a>
          </li>
          <li [ngClass]="{'active': activePriceDown}">
              <a (click)="sortProductPriceDown()">
                <i class="ion-arrow-up-c"></i> Price [High-Low]</a>
          </li>
        </ul>
      </div>

      <p>Search by tags</p>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-default btn-xs active">
          <input type="radio" name="options" id="option1" checked> All products
        </label>
        <label class="btn btn-default btn-xs">
          <input type="radio" name="options" id="option2"> Business
        </label>
        <label class="btn btn-default btn-xs">
          <input type="radio" name="options" id="option3"> Home
        </label>
        <label class="btn btn-default btn-xs">
          <input type="radio" name="options" id="option4"> Mobility
        </label>
        <label class="btn btn-default btn-xs">
          <input type="radio" name="options" id="option5"> Powerfull
        </label>
        <label class="btn btn-default btn-xs">
          <input type="radio" name="options" id="option6"> Gaming
        </label>
      </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- Filter -->
      
      <div class="col-sm-3 filter">
        <div class="item">
            <div class="title">
               <h1 class="h4">Type <input #switchType id="showType" type="checkbox" (change)="switchOnOff(switchType.checked, switchType.id)" class="switch" style="margin-left: 15px;">
                <button #clearTypes *ngIf="switchType.checked" value="clearTypes" (click)="clearAllcheckbox(clearTypes.value)" class="clear-button"> <i class="ion-ios-trash-outline"></i> Clear</button>
              </h1>
            </div>

              <div class="boxColor" *ngIf="showType">
                  <ul *ngFor="let prodType of productsTypes">
                      <li>
                        <input #checkBoxType id="{{prodType}}" type="checkbox" (change)="searchByType(checkBoxType)">
                        <label for="c1">&nbsp;{{prodType}}</label>
                      </li>
                    </ul>             
              </div>
        </div>

        <br>

        <div class="item">
            <div class="title">
                <h1 class="h4">Screen <input #switchScreen id="showScreen" type="checkbox" (change)="switchOnOff(switchScreen.checked, switchScreen.id)" class="switch" style="margin-left: 15px;">
                 <button #clearScreens *ngIf="switchScreen.checked" value="clearScreens"(click)="clearAllcheckbox(clearScreens.value)" class="clear-button"> <i class="ion-ios-trash-outline"></i> Clear</button>
               </h1>
             </div>
 
               <div class="boxColor" *ngIf="showScreen">
                   <ul *ngFor="let prodScreen of productsScreens">
                       <li>
                         <input #checkBoxScreen id="{{prodScreen}}" type="checkbox" (change)="searchByScreen(checkBoxScreen)">
                         <label for="c1">&nbsp;{{prodScreen}} in</label>
                       </li>
                     </ul>             
               </div>
        </div>

        <br>

        <div class="item">
          <div class="title">
              <a href="#clear" data-action="open" class="down"> <i class="ion-android-arrow-dropdown"></i> Open</a>
              <a href="#clear" data-action="clear-price"> <i class="ion-ios-trash-outline"></i> Clear</a>
              <h1 class="h4">Price</h1>
          </div>

          <div class="controls">
              <br>
              <div id="slider-price"></div>
              <br>
              <p id="amount"></p>
          </div>
        </div>
        <br>

        <div class="item">
            <div class="title">
                <h1 class="h4">Manufacturer <input #switchManufacturer id="showManufacturer" type="checkbox" (change)="switchOnOff(switchManufacturer.checked, switchManufacturer.id)" class="switch" style="margin-left: 15px;">
                 <button #clearManufacturers *ngIf="switchManufacturer.checked" value="clearManufacturers"(click)="clearAllcheckbox(clearManufacturers.value)" class="clear-button"> <i class="ion-ios-trash-outline"></i> Clear</button>
               </h1>
             </div>
 
               <div class="boxColor" *ngIf="showManufacturer">
                   <ul *ngFor="let prodManufacturer of productsManufacturers">
                       <li>
                         <input #checkBoxManufacturer id="{{prodManufacturer}}" type="checkbox" (change)="searchByManufacturer(checkBoxManufacturer.id)">
                         <label for="c1">&nbsp;{{prodManufacturer}}</label>
                       </li>
                     </ul>             
               </div>
        </div>
      </div>
      <!-- /// -->

      <!-- Products -->
      <div class="col-sm-9 products">
        <div class="row">
          <div *ngFor="let product of products
            | paginate: {itemsPerPage: productsNbrePerPage, currentPage: currentPg}">
            <app-product [product]="product"></app-product>
          </div>
        </div>

        <div class="paginate" style="text-align: center; margin-top: 70px; border-top: 1px solid #eee;">
          <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
          <div>
            <small>Number of products per page </small>
            <button class="button-page" (click)="decrementNbreOfProducts()" [disabled]="disableDecrement"><fa-icon [icon]="faMinusCircle"></fa-icon></button>
            <input class="input-page" [value]="productsNbrePerPage">
            <button class="button-page" (click)="incrementNbreOfProducts()" [disabled]="disableIncrement"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
          </div>
        </div>

       <!--  <nav>
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true"><i class="ion-ios-arrow-left"></i></span>
              </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li class="disabled"><a href="#">..</a></li>
            <li><a href="#">10</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true"><i class="ion-ios-arrow-right"></i></span>
              </a>
            </li>
          </ul>
        </nav> -->



      </div>
      <!-- /// -->
    </div>
  </div>
</div>


<router-outlet #productOutlet="outlet"></router-outlet>