<div class="main-content-container container-fluid px-4">
  <!-- Page Header -->
  <div class="page-header row no-gutters py-4">
    <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
      <span class="text-uppercase page-subtitle">Overview</span>
      <h3 class="page-title">List Of Products</h3>
    </div>
  </div>
  <!-- End Page Header -->
  <!-- Default Light Table -->
  <!-- <div class="row">
    <div class="col">
      <div class="card card-small mb-4">
        <div class="card-header border-bottom">
          <div class="paginate" style="text-align: center;">
            <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
            <div>
              <small>Number of products per page </small>
              <button class="button-page" (click)="decrementNbreOfProducts()" [disabled]="paginationControllers[1]"><fa-icon [icon]="faMinusCircle"></fa-icon></button>
              <input class="input-page" [value]="paginationControllers[2]">
              <button class="button-page" (click)="incrementNbreOfProducts()" [disabled]="paginationControllers[0]"><fa-icon [icon]="faPlusCircle"></fa-icon></button>
            </div>
          </div>
        </div>

        <div class="card-body p-0 pb-3">
          <table class="table mb-0">
            <thead class="bg-light">
              <tr>
                <th scope="col" class="border-0">
                    Type
                    <button class="float-right btn-xs">
                      <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Brand
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Sub Brand
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Price
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Operating System
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Processor Technology
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Graphics
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Memory
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Hard Drive
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Screen
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
                <th scope="col" class="border-0">
                    Quantity
                    <button class="float-right btn-xs">
                        <fa-icon [icon]="faSort"></fa-icon>
                    </button>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products | paginate: {itemsPerPage: paginationControllers[2], currentPage: currentPg}">
                <td>{{ product.type }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.subBrand }}</td>
                <td>{{ product.price }} (TND)</td>
                <td>{{ product.operatingSystem }}</td>
                <td>{{ product.processorTechnology }}</td>
                <td>{{ product.graphics }}</td>
                <td>{{ product.memory }}</td>
                <td>{{ product.hardDrive }}</td>
                <td>{{ product.screen }}"</td>
                <td>{{ product.quantity }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> -->

    <button (click)="updateRows()">Save Update</button>

    <ag-grid-angular
      style="width: 100%; height: 550px;"
      class="ag-theme-alpine"
      (rowValueChanged) = 'onRowValueChanged($event)'
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [editType]="editType"
      [rowData]="rowData"
      [pagination]="true"
      [paginationAutoPageSize]="true"
    >
    </ag-grid-angular>


</div>